{% set query = craft.app.request.getParam('q') %}
{% set entries = craft.entries.search(query).section('posts').limit(10).orderBy('score') %}

{% paginate entries as pageInfo, searchEntries %}


<!DOCTYPE html>
<html lang="en">
{% include "_partials/_head" with {
	pageTitle: "Search results"
} %}

<body class="home">

  {% include "_partials/j-header" %}

  <main>
    <div class="post-content">
        <h1>Search results for "{{query}}"</h1>
        {% include "search/form" %}
        <p>{{searchEntries|length}} results ({{ pageInfo.totalPages }} Pages)</p>

        {% if searchEntries | length %}
        {% for entry in searchEntries %}
            <article class="search-listing-post">
                <h2><a href="{{ entry.url }}">{{ entry.title}}</a></h2>
                <a class="search_link" href="{{ entry.url }}">{{entry.url}}</a>
            </article>
        {% endfor %}

		{% if pageInfo.totalPages > 1 %}

        {% include "_partials/j-pagination" %}

        {% endif %}

        {% else %}
            <p>Sorry, no posts matched your search query.</p>

        {% endif %}
    </div>
  </main>

  {% include "_partials/footer" %}

</body>
</html>