{% set global = craft.entries.section('global').one() %}
{% set pageTitle = pageTitle ?? entry.title ?? siteName %}



{# get $_GET['layout'], if it exists #}
{% set layout = craft.app.request.getQueryParam('layout') %}
{% if layout %}
{% set format = 'block-listing' %}
{% else %}
{% set format = 'grid' %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{% block title %}{{ pageTitle }}{% endblock %}{% if pageTitle != siteName %} | {{ siteName }}{% endif %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<meta name="description" content="Jeff Bridgforth is a senior front-end developer looking for a new opportunity.">
		<link rel="icon" href="/favicon.ico"><!-- 32×32 -->
		<link rel="icon" href="/jb-logo.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="images/jb-logo-180.png"><!-- 180×180 -->
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="/css/main.min.css?<?php echo filemtime(__DIR__.$filename);?>">
		<script src="/js/main.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<script>
			(function () {
				const Theme = { AUTO: 'auto', LIGHT: 'light', DARK: 'dark' };
				const THEME_STORAGE_KEY = 'theme';
				const THEME_OWNER = document.documentElement;

				const cachedTheme = localStorage.getItem(THEME_STORAGE_KEY);
				if (cachedTheme) {
				THEME_OWNER.dataset[THEME_STORAGE_KEY] = cachedTheme;
				}

				document.addEventListener('DOMContentLoaded', () => {
				const themePicker = document.getElementById('theme-picker');
				if (!themePicker) return;

				themePicker.addEventListener('change', (e) => {
					const theme = e.target.value;
					if (theme === Theme.AUTO) {
					delete THEME_OWNER.dataset[THEME_STORAGE_KEY];
					localStorage.removeItem(THEME_STORAGE_KEY);
					} else {
					THEME_OWNER.dataset[THEME_STORAGE_KEY] = theme;
					localStorage.setItem(THEME_STORAGE_KEY, theme);
					}
				});

				const initialTheme = cachedTheme ?? Theme.AUTO;
				themePicker.querySelector('input[checked]').removeAttribute('checked');
				themePicker.querySelector(`input[value="${initialTheme}"]`).setAttribute('checked', '');
				});
			})();
		</script>
</head>

<body class="home">

  {% include "_partials/j-header" %}

  <main>
    <div class="post-content">
    {% set entries = craft.entries.section('posts') %}
    {% set entryCount = entries|length %}
        <h1>Blog Archive ({{ entryCount }} posts)</h1>
        {% set allEntries = craft.entries.section('posts').all() %}

        <ul class="archive-jump-links">

        {% for year, entriesInYear in allEntries | group("postDate | date('Y')") %}
            <li><a href="#year-{{ year }}">{{ year }}</a></li>
        {% endfor %}
        </ul>

		<ul class="layout-selector">
			<li><a href="/archive" {% if format == 'grid'%}class="active"{% endif %}>Image Grid</a></li>
			<li><a href="/archive?layout=no-image" {% if format == 'block-listing' %}class="active"{% endif %}>Simplified View</a></li>
		</ul>

        {% for year, entriesInYear in allEntries | group("postDate | date('Y')") %}
        {% set yearCount = entriesInYear|length%}
            <h2 id="year-{{ year }}">{{ year }} ({{ yearCount }} posts)</h2>

            <div class="post-listing {{ format }}">
            {% for entry in entriesInYear %}
                <article>
			{% if format == 'grid' %}
                {% set coverImage = entry.coverPhoto %}
                    {% if coverImage | length %}
                    <figure><a href="{{ entry.url}}"><img src="{{ coverImage.one.url() }}" alt="{{entry.title}}" /></a></figure>
                {% else %}
                    <figure><a href="{{ entry.url}}"><img src="/uploads/philip-swinburn-vS7LVkPyXJU-unsplash.jpg" alt="{{entry.title}}" /></a></figure>
                {% endif %}
			{% endif %}
			{% if format == 'grid' %}
                    <div class="date"><time datetime="{{ entry.postDate|atom }}">{{ entry.postDate|date }}</time></div>
			{% endif %}
                    <h3><a href="{{ entry.url() }}" rel="bookmark">{{ entry.title }}</a></h3>
			{% if format == 'block-listing' %}
                    <div class="date"><time datetime="{{ entry.postDate|atom }}">{{ entry.postDate|date }}</time></div>
			{% endif %}
                </article>
            {% endfor %}
            </div>
        {% endfor %}
    </div>

  </main>

  {% include "_partials/footer" %}

</body>
</html>


